<div class='container'>
<div class='row'>
  <!-- Shoot request for coordinates -->
  <form action='/player_change'>
    <br>
    Coordinates:<input type="text" name="coordinates">
    <button type="submit">Shoot</button>
  </form>
  <!-- End shoot request -->
</div>
<div class='row'>
  <div class='col-md-6'>
  <br><p>Your board:</p>
  <!-- Current_player_board -->
    <table>
    <% @matrix.size.times do |i| %>
      <tr>
      <% @matrix.size.times do |j| %>
        <td class='<%= @matrix[i][j] %>'>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  <!-- End current player board -->
  </div>
  <div class='col-md-6'>
    <br><p>Enemy board:</p>
    <!-- Enemy_board -->
    <table>
    <% @enemy_matrix.size.times do |i| %>
      <tr>
      <% @enemy_matrix.size.times do |j| %>
        <td class='<%= @enemy_matrix[i][j] %>'>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
    <!-- End enemy board -->
  </div>
</div>
</div>