<div class='container'>
<% if @game.current_player.name%>
  <h3>Welcome to the game <%= @game.current_player.name %>!</h3>
<% end %>
<div class='row'>
  <div class='col-md-6'>
  <p>Your board</p>
    <table>
    <% 10.times do |i| %>
      <tr>
      <% 10.times do |j| %>
        <td class="<%= @game.current_player.board.cell_class([i,j]) %>"></td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </div>
  <div class='col-md-6'>
  <form name="ship-form" action="/place_ship"  onsubmit="return validateForm()">
    Place ship:
    <select name="type">
      <% @game.current_player.ships.each do |ship| %>
        <option value="<%=ship%>"><%=ship%></option>
      <% end %>
    </select><br>
    Coordinates:<input type="text" name="coordinates"><br>
    Direction: 
    <select name="direction">
      <option value="horizontal">horizontal</option>
      <option value="vertical">vertical</option>
    </select><br>
    <button type="submit">Place ship</button>
  </form>
<br>
</div>